body {
    background-color: #F7E5DB;
  }
  
  p {
    text-align: center;
    color: #57658b;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .heading {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 10px;
    margin-top: 50px;
    overflow: hidden; 
    border: 2px solid white;
  }
  
  .card-header {
    color: #FF6F3C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .data {
    text-align: center;
    padding: 40px;
    position: relative;
    top: 0px;
  }
  
  #txt {
    position: relative;
    left: 510px;
    top: 20px;
  }
  